.text-center {
  text-align: center;
}

// Font weights
$font-weight-heavy: 600;
$font-weight-normal: 400;
$font-weight-light: 300;

// Font sizes
$font-size-small: 14px;
$font-size-normal: 17px;
$font-size-big: 20px;